@import "materialize.scss"

$small-screen-up: 600px !default
$medium-screen-up: 992px !default
$large-screen-up: 1200px !default
$small-screen: 600px !default
$medium-screen: 992px !default
$large-screen: 1200px !default

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default
$small-and-down: "only screen and (max-width : #{$small-screen})" !default
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default
    
body
    overflow-x: hidden
    word-wrap: break-word
    @extend .blue, .lighten-4
    font-family: 'Open Pro', sans-serif

.centered
    text-align: center

.navbar-fixed
    margin-bottom: 20px

.intro
    margin-bottom: 0

.logo
    @media #{$small-and-down}
        height: 56px
    @media #{$medium-and-up}
        height: 63px

.card
    @extend .centered
    width: 100%
    .card-title
        font-weight: bold

.intro-card
    @media #{$small-and-down}
        padding: 5px
        p
            text-align: justify
    @media #{$medium-only}
        padding: 3px
        height: 250px
        p
            text-align: justify
    @media #{$large-and-up}
        padding: 5px
        height: 300px
        p
            text-align: justify

.img-card
    @media #{$medium-only}
        height: 280px
    @media #{$large-and-up}
        height: 300px
    img
        display: block
        width: auto
        height: auto
        max-width: 100%
        max-height: 100%
        @media #{$medium-only}
            padding-left: 10%
            width: 90%
        @media #{$large-and-up}
            padding-top: 10%

.banner
    margin-top: 20px
    margin-bottom: 20px
    padding-top: 5px
    padding-bottom: 5px
    h1
        margin-top: 20px
        margin-bottom: 20px
        display: block

.course-card
    padding: 8px
    p
        text-align: justify

pre
    text-align: left
    white-space: pre-line
    font-family: 'Source Code Pro', monospace

.installation
    font-weight: bold
    p
        text-align: center